@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    @apply bg-[#F8FAFC] dark:bg-[#07090e];
  }
  body {
    overscroll-behavior: none;
  }
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom, 0px), 12px);
  }
  .pt-safe {
    padding-top: max(env(safe-area-inset-top, 0px), 12px);
  }
}
::-webkit-scrollbar {
  display: none;
}
